<div class="row">
  <div class="col-sm"></div>
  <div class="col-sm">
    <br>
    <div class="container">
      <h3>Start the underground journey</h3>
      <hr>
      <br>
      <%= form_for(:session, url: '/shopify/oauth/confirm') do |f| %>
        <div class="mb-3">
          <%= f.label :username, class: 'form-label' %>
          <%= f.text_field :username, class: 'form-control' %>
        </div>
          <%= f.hidden_field :shop, value: @shop %>
        <div class="mb-3">
          <%= f.label :password, class: 'form-label' %>
          <%= f.password_field :password, class: 'form-control' %>
        </div>
         <%= f.submit "Login" ,class: "btn btn-outline-dark" %>
      <% end %>

    </div>
  </div>
  <div class="col-sm"></div>
</div>
